<div class="overlay">
  <div class="modal show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body clearfix">
          {{yield}}
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
