<div class="row row-space-1 row-space-top-1">
  <div class="col-sm-12">
    <button {{action 'openModal' 'create-assignment-modal' model}} class="btn btn-info pull-right modal-btn">Create Assignment</button>
  </div>
</div>

<div class="index-box flex-wrapper text-center">
  <div class="flex-body">
    Select an assignment
  </div>
</div>

{{outlet}}
