<div class="container">
  <div class="row row-space-top-6">
    <div class="col-sm-4 clearfix">
      <div class="row row-space-2">
        <div class="col-md-7 col-sm-12">
          {{#link-to 'assignments' class="link-reset" }}
            <h1>Assignments</h1>
          {{/link-to}}
        </div>
      </div>

      <ul class="list-group">
        {{#each a in model}}
          {{#link-to 'assignments.assignment' a classNames="list-group-item"}}
            <h4> {{a.title}} </h4>
            {{date-formatted a.due_at}}
          {{/link-to}}
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-8">
      {{outlet}}
    </div>

  </div>
</div>
